[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
quart = "*"
jsonschema = "*"
celery = "*"
redis = "*"
flask-limiter = "*"
quart-cors = "*"
# The Beat Machine library isn't on PyPI yet, so we have to list all of its dependencies here.
cython = "*"
numpy = "*"
madmom = "*"
pydub = "*"
beatmachine = {git = "https://github.com/dhsavell/beat-machine.git",ref = "v1.1.0"}

[requires]
python_version = "3.7"
